/*轮播*/
#banner{
	position: relative;
	height: 369px;
	overflow: hidden;
}
.pics{
	position: absolute;
	width: 100%;
	height: 100%;
}
.pics li{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.idxs{
	position: absolute;
	bottom: 0;
	height: 30px;
	left: 50%;
}
.idxs li{
	float: left;
	background: url(../images/idx.png) no-repeat;
	width: 8px;
	height: 8px;
	margin: 30px 5px 0 0;
	cursor: pointer;
}
.idxs li.on{
	background: url(../images/idx_on.png) no-repeat;
}
.btns a.left{
	left: -44px;
	background-image: url(../images/left.png);
}
.btns a.right{
	right: -44px;
	background-image: url(../images/right.png);
}
.btns a{
	position: absolute;
	width: 44px;
	height: 44px;
	top: 50%;
	margin-top: -22px;
	z-index: 2;
	cursor: pointer;
}


/*新闻*/
#content .wrapper{
	padding-top: 45px;
}
.news{
	position: relative;
	float: left;
	width: 373px;
	height: 100%;
	overflow:hidden;
}
.abs{
	position: absolute;
	left: 0;
	top: 20px;
	width: 48px;
	height: 3px;
	background-color: #e80009;
}
p{
	line-height: 22px;
	text-align: justify;
}
.head{
	height: 29px;
}
.head a{
	float: left;
	margin-right: 20px;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 13px;
	line-height: 12px;
	color: #595959;
}
.body{
	position: relative;
}
.body a{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 128px;
}
.body h1{
	margin: 13px 0;
	font-size: 18px;
	color: #404040;
}
.body p{
	color: #535353;
	position: relative;
	height: 77px;
	line-height: 23px;
}
.body span{
	font-weight: bold;
	color: #e80009;
}


/*集团*/
.group{
	width: 339px;
	height: 100%;
	margin-left: 32px;
	float: left;
	overflow: hidden;
	background: url(../images/p1.jpg) no-repeat;
}
.hull{
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
	background: #3b3989 url(../images/ind_bg.png) no-repeat 19px 35px;
}
.group .abs{
	position: absolute;
	top: 147px;
	left: 20px;
	width: 28px;
	height: 3px;
	background-color: #bc1207;
}
.hull a{
	position: absolute;
	top: 119px;
	height: 28px;
	width: 28px;
}
.hull .a1{
	left: 20px;
}
.hull .a2{
	left: 57px;
}
.hull .a3{
	left: 95px;
	width: 40px;
}
.hull .a4{
	left: 145px;
}
.hull .a5{
	left: 183px;
}
.hull .a6{
	left: 220px;
}
.hull .a7{
	left: 260px;
}
.hull .a8{
	left: 296px;
}
.company{
	float: right;
	width: 312px;
	height: 100%;
	background: url(../images/p2.png) no-repeat;
}
.company a{
	position: absolute;
}
.company .a1{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.company .a2{
	top: 125px;
	left: 14px;
	width: 122px;
	height: 59px;
}
.company .a3{
	top: 125px;
	left: 146px;
	width: 150px;
	height: 59px;
}
.drops{
	position: relative;
	height: 0;
	overflow: hidden;
}
.drops .row{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #efe6c9;
	z-index: 1;
}
.drops .wrapper{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -528px;
	height: 93px;
	z-index: 2;
}
.drops ul{
	position: absolute;
	top: 23px;
	left: 0;
	width: 100%;
	height: 20px;
	padding-top: 0;
}
.drops ul li{
	float: left;
	margin-right: 29px;
	height: 20px;
	margin-bottom: 15px;
	line-height: 20px;
}
.drops ul li a{
	font-weight: bold;
	color: #787264;
}
.drops .out{
	position: absolute;
	right: 0;
	top: 23px;
	width: 24px;
	height: 24px;
	background: url(../images/subs_hide.png);
}
.drops ul li a:hover{
	color: #e80009;
}