*{
	padding:0px;
	margin: 0px;
}
body{
	font-size: 12px;
	font-family: "微软雅黑","Microsoft YaHei",sans-serif;
	vertical-align: baseline;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
.wrapper{
	position: relative;
	width: 1056px;
	margin: 0 auto;
	overflow: hidden;
}
#header{
	position: relative;
	height: 135px;
	background: url(../images/header_bg.jpg) no-repeat bottom;
}

#logo{
	background: url(../images/logo.png) no-repeat;
	width: 140px;
	height: 34px;
	float: left;
	margin-top: 34px;
}
#langs{
	background: url(../images/l0.png) no-repeat;
	float: right;
	margin-top: 44px;
	width: 150px;
	height: 14px;
	padding-left: 117px;
	cursor: pointer;
}
#langs a{
	float: left;
}
#nav{
	position: absolute;
	bottom: 3px;
	height: 49px;
	width: 100%;
	background: url(../images/nav_bg.jpg) repeat-x;
}
.nav_ul{
	float: right;
	position: relative;
	margin-right: 12px;
}
.nav_ul li{
	float: left;
	background: url(../images/n10.png) no-repeat right;
}
.nav_ul li a{
	display: block;
	padding: 18px 20px 17px 16px;
	width: 54px;
	font-weight: bold;
	font-size: 13px;
	color: #757575;
}
.nav_ul li.n1 a{
	width: 27px;
}
.nav_ul li.n8 a{
	width: 67px;
}
.nav_ul li.n9 a{
	padding-right: 16px;
}
.nav_ul li.n9{
	background-image: none;
}
.nav_ul li.hover a{
	color: #E71910;
}
.nav_ul li.topmark{
	position: absolute;
	top: 0;
	height: 1px;
	background: red;
	left: 0;
	width: 100px;
}
#search{
	position: relative;
	float: right;
	background-color: #ec4847;
	margin-top: 4px;
	width: 41px;
	height: 42px;
}
.inp_btn{
	position: absolute;
	background: url(../images/search.jpg) no-repeat;
	right: 0;
	top: 0;
	width: 41px;
	height: 100%;
	cursor: pointer;
	outline: none;
}
.inp_txt{
	position: absolute;
	top: 8px;
	left: 8px;
	width: 100px;
	height: 27px;
	text-indent: 10px;
}
input{
	border: none;
}
